<h1>Upcoming events from all users</h1>
<%= render partial: 'shared/event_list', locals: { events: @future_events} %>
<h2>Past events from all users</h2>
<%= render partial: 'shared/event_list', locals: { events: @past_events} %>
  